.container-device-menu-normal {
  min-height: 100%;
  width: 900px;
}

.container-device-transparent-menu-top {
  height: 90px;
  width: 900px;
}

.card-width {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.card-title-icon {
  margin-top: 3px;
}
