.mat-form-field-jb-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.jetbrains-mono-heavy {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.jetbrains-mono-title {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.font-pink {
  color: #fc00fc;
}

.font-red {
  color: #f92209;
}

.font-orange {
  color: #fa6a00;
}

.font-yellow {
  color: #fbd411;
}

.font-green {
  color: #96e800;
}

.bg-pink {
  background-color: #fc00fc;
}

.bg-red {
  background-color: #f92209;
}

.bg-orange {
  background-color: #fa6a00;
}

.bg-yellow {
  background-color: #fbd411;
}

.bg-green {
  background-color: #96e800;
}

.bg-blue {
  background-color: #3364af;
}

.bg-transparent-light {
  background-color: rgb(211, 211, 211, 0.75);
}

.mb-header {
  margin-bottom: 20vh;
}
.mb-header-small {
  margin-bottom: 10vh;
}

.mh-button {
  margin-bottom: 20px;
  margin-top: 60px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
